* {
    font-family: Lucida Grande;
}

a {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: #858585;
    margin: 0px; /* remove default padding  */
}

/* from: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* The navigation bar */

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; 
    width: 100%; /* Full width */
    opacity: 0.75;
    z-index: 10;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 10px;
  }

  .dropdown {
    padding-top: 15px !important;

  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .navbar-left {
      float: left;
  }

  .navbar-right {
      float: right;
      padding-right: 12px;
  }

  /* from: https://www.w3schools.com/howto/howto_js_draggable.asp */

 #folder-work {
    position: absolute;
    z-index: 9;
    text-align: center;
    color: white;
  }
  
#folder-work-header {
    padding: 10px;
    z-index: 10;
    color: #fff;
    cursor: grab;
  }

#folder-play {
    position: absolute;
    z-index: 9;
    text-align: center;
    color: white;
  }
  
 #folder-play-header {
    padding: 10px;
    z-index: 10;
    color: #fff;
    cursor: grab;
  }

  #resume {
    position: absolute;
    z-index: 9;
    text-align: center;
    color: white;
  }

  #resume-header {
    padding: 10px;
    z-index: 10;
    color: #fff;
    cursor: grab;
  }


/* from: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(88, 88, 88);
    /* opacity: 0.5; */
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    display: inline-block;
  }


canvas {
  position: absolute;
  z-index: 1;
  /* width: 100%;
  height: 100%; */
}


#particles-js{
  width: 100%;
  height: 100%;
  /* background-image: url(''); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


#login {
  /* background: #fff; */
  opacity: 0.9;
  position: absolute;
  font-family: Lucida Grande;
  z-index: 10;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 10px;
  color: white;
  /* to center fully: https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically#:~:text=For%20vertical%20alignment%2C%20set%20the,any%20other%20inline%20children%20elements. */
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#login input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
  font-family: Lucida Grande;
  border-radius: 50px;
  border:0px solid white;
  outline: none;
}

/* follow mouse from: https://www.youtube.com/watch?v=NSmZM89YCfE */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#ball {
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  /* glow effect for mouse: https://codersblock.com/blog/creating-glow-effects-with-css/ */
  box-shadow:
  0 0 10px 3px rgb(255, 255, 255); 
}
