
a {
  margin: 0px;
  padding: 0px;
  font-family: Lucida Grande;
}

h1 {
  color: white;
}

body {
    background-image: url("https://i.redd.it/ylubgrztirp11.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: #858585; */
    margin: 0px; /* remove default padding  */
}

.landing {
    background-image: url("https://i.redd.it/ylubgrztirp11.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: #858585; */
    margin: 0px; /* remove default padding  */
}

.desktop {
    background-image: url("https://wallpaperaccess.com/full/2159858.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: #858585; */
    margin: 0px; /* remove default padding  */
}


/* from: https://blog.prototypr.io/how-to-make-a-background-blur-in-css-with-one-line-of-code-e446c7236e60#:~:text=If%20you%20want%20the%20blur,value%20of%20blur(8px)%20. */
.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(6px); 
  height: 100vh;
	width: 100%;
}

/* from: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* The navigation bar */

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; 
    width: 100%; /* Full width */
    opacity: 0.8;
    z-index: 2;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 10px;
  }

  .dropdown {
    padding-top: 15px !important;

  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .navbar-left {
      float: left;
  }

  .navbar-right {
      float: right;
      padding-right: 12px;
  }

  /* from: https://www.w3schools.com/howto/howto_js_draggable.asp */

 #folder-work {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: white;
  }
  
#folder-work-header {
    padding: 10px;
    z-index: 3;
    color: #fff;
    cursor: grab;
  }

#folder-play {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: white;
  }
  
 #folder-play-header {
    padding: 10px;
    z-index: 3;
    color: #fff;
    cursor: grab;
  }

  #resume {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: white;
  }

  #resume-header {
    padding: 10px;
    z-index: 3;
    color: #fff;
    cursor: grab;
  }


/* from: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
footer {
  background: rgb(245, 69, 230);
    top: 0px;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: smaller;
    color: white;
  }


canvas {
  position: absolute;
  z-index: 1;
  /* width: 100%;
  height: 100%; */
}


#particles-js{
  width: 100%;
  height: 100%;
  /* background-image: url(''); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


#login {
  /* background: #fff; */
  opacity: 0.9;
  position: absolute;
  font-family: Helvetica Neue;
  font-size: larger;
  text-shadow: 1px 1px 5px rgb(56, 56, 56);
  z-index: 10;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 10px;
  color: white;
  /* to center fully: https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically#:~:text=For%20vertical%20alignment%2C%20set%20the,any%20other%20inline%20children%20elements. */
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#login input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
  font-family: Lucida Grande;
  border-radius: 50px;
  border:0px solid white;
  outline: none;
  box-shadow: 1px 1px 20px rgb(56, 56, 56);
}

.enter-arrow img {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
}


/* follow mouse from: https://www.youtube.com/watch?v=NSmZM89YCfE */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#ball {
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  /* glow effect for mouse: https://codersblock.com/blog/creating-glow-effects-with-css/ */
  box-shadow:
  0 0 10px 3px rgb(255, 255, 255); 
}

/* from: https://www.youtube.com/watch?v=iE_6pQ3RlZU */

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0,0,0,0.7); */
  z-index: 5;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  background: rgb(83, 74, 74);
  border-top: rgb(48, 48, 48) solid 12px;
  border-left: white solid 1px;
  border-right: white solid 1px;
  border-top: rgb(48, 48, 48) solid 12px;
  color: white;
  width: 500px;
  height: 350px;
  z-index: 6;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #fff;
  color: rgb(48, 48, 48);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  z-index: 10;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#folder-title {
  margin-top: 0px;
}

#project-name-1 a, #project-name-2 a, #project-name-3 a {
  text-decoration: none;
  color: white;
  text-align: center;
}

#project-name-1 a:hover, #project-name-2 a:hover, #project-name-3 a:hover  {
  /* font-style: italic; */
  background: rgb(129, 115, 115);
  padding: 3px;
  border-radius: 4px;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}